#principal{
	height: fit-content;
	width: 100vw;
}
#contenido{
	height: fit-content;
	width: 100vw;
}
#Cuestionario{
	width: 70vw;
	margin-left: 15vw;
	margin-top: 3vh;

}
#Cuestionario fieldset{
	width: inherit;
	margin: 0px;
}
#Cuestionario button{
	width: 16vw;
	height: 7vh;
	size: 3vh;
	margin-top: 2vh;
	margin-left: 27vw;
	margin-bottom: 2vh;
	border-radius: .5%;
}