#principal{
	height: fit-content;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 68b3472 (Preguntas capadas y un pequeño cambio de estetica)
	width: 100vw;
}
#contenido{
	height: fit-content;
	width: 100vw;
}
#Cuestionario{
	width: 70vw;
	margin-left: 15vw;
	margin-top: 3vh;

}
#Cuestionario fieldset{
	width: inherit;
	margin: 0px;
<<<<<<< HEAD
}
#Cuestionario button{
	width: 60vw;
	height: 5vh;
	size: 3vh;
	margin-top: 2vh;
	margin-left: 7vw;
	margin-bottom: 2vh;
	background-color: 	#81C784;
	border-radius: 40%;
=======
}
#contenido{
	height: fit-content;
>>>>>>> 920fc0a (merge solucionado?)
=======
>>>>>>> 68b3472 (Preguntas capadas y un pequeño cambio de estetica)
}